@using SpelDatabas;

@{
   var db = new SpelDatabas.SpelDatabasContainer();
}


<div class="row">
   <div class="col-md-6 col-sm-12">
      <table class="table">
         <tr>
            <th></th>
         </tr>
      </table>
   </div>
</div>

