@model SpelAffaren.Models.TheShopModel
  
<h2>Här är din kundvagn</h2>
<div>
   
@Html.Partial("ShoppingCart");
</div>
<h3>Här är våra varor. Va Coolt!</h3>

<p>Use this area to provide additional information.</p>
