@*@model IEnumerable<SpelAffarWCF.ProduktDto>*@
@model SpelAffarWCF.SpelAffarService

@{
   ViewBag.Title = "Index";
   var pList = Model.GetTopListGames(3);
}

<h2>Index</h2>

<table class="table">
   <tr>
      <th>Namn</th>
      <th></th>
   </tr>

   @foreach (var item in pList)
   {
      <tr>
         <td>@item.Namn</td>
         <td></td>
         <td>
            @Html.DisplayFor(modelItem => item.Utgivningsår)
         </td>
      </tr>
   }

</table>
