@using System.Diagnostics;
@model SpelAffaren.Models.TheShopModel


@{
   ViewBag.Title = "TheShop";
}

<div class="row">
   <h2>TheShop</h2> 
      <div id="CartPlacer">
         @Html.Partial("ShoppingCart", Model.Cart)
      </div>
      <h3>Här är våra varor. Va Coolt!</h3>
      <div>
         @Html.Partial("~/Views/Shared/Products.cshtml", Model)
      </div>
</div>